TODO:

to be verified you need to login with oauth trusted id

<div>
  <%= form.submit t(".cancel"), class: "button expanded secondary" %>
</div>

<style>
  .actions {
    display: none;
  }
</style>
